.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 2em;
    box-sizing: border-box;
}

.App-header {
    max-width: 900px;
    width: 100%;
    /* Allow content to shrink on smaller screens */
}

.header-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1.2rem;
}

/* Profile card styling */
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-info {
    text-align: left;
}

.profile-info h1 {
    font-size: 1.5em;
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
    color: #555;
}


/* Navigation bar styling */
.navigation-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.nav-link:hover {
    text-decoration: none;
    color: #007bff;
    transform: scale(1.1);
}

.work-experience {
    margin-top: 2em;
}

.work-experience-item {
    margin-bottom: 1.5em;
}

.project-experience {
    margin-top: 2em;
}

.project-experience-item {
    margin-bottom: 1.5em;
}

/* .work-experience-item {
    margin-bottom: 1.5em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
.work-experience-item h3 {
    margin-bottom: 0.5em;
}

.work-experience-item p {
    margin: 0.2em 0;
} */

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontally centers the content */
    justify-content: center;
    /* Vertically centers the content */
    text-align: center;
    /* Ensures text is centered */
    max-width: 800px;
    /* You can adjust the max-width as needed */
    margin: 0 auto;
    /* Centers the element horizontally in its container */
    padding: 20px;
    /* Adds some spacing inside the blog container */
}

.blog-post h1 {
    font-size: 2em;
    /* You can adjust the font size as needed */
}

.blog-post p {
    font-size: 1.1em;
    line-height: 1.5;
}

.markdown-content p {
    margin-bottom: 1em; /* Forces spacing */
}

.footer-container {
    text-align: center;
}

.footer-icons img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.2s ease;
}