/* Carousel Specific Styles */
.carousel-container {
  width: 87%;
  height: 60vh;
  margin: 1rem auto;
  margin-top: 5rem;
  background-color: var(--white-color);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  display: flex;
  position: relative;
}

.carousel-content {
  margin: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  background-color: var(--white-color);
}

.tab-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  background-color: var(--white-color);
  border-radius: 2rem;
  z-index: 1;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
}

.tab {
  background-color: var(--white-color);
  margin-left: 1rem;
  cursor: pointer;
}

.tab:hover {
  text-decoration: underline;
}

.tab.active {
  color: grey;
  text-decoration: underline var(--highlight-color);
}

#carousel-text {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
}

.carousel-title h3 {
  padding-top: 2rem;
  text-align: left;
  background-color: var(--white-color);
}

.carousel-title:hover {
  color: var(--highlight-color);
}

.carousel-skills ul {
  list-style-image: url('../components/images/seedlings/seedling16x16.png');
  padding-left: 20px;
  text-align: left;
  background-color: var(--white-color);
}

.carousel-skills li {
  margin-left: 3rem;
  background-color: var(--white-color);
}
