.carousel-container {
  width: 87%; /* Adjust the width to your desired size */
  height: 60vh;
  margin: auto; /* Center the carousel horizontally */
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in;
  justify-content: space-around;
  margin: 1rem auto; /* Adjust the margin for top and bottom */
  display: flex;
  margin-top: 5rem;
  box-sizing: border-box; /* Ensure padding and border don't affect the width */
  position: relative;
  background-color: #ffffff
}

.carousel-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.carousel-content {
  margin: 1rem;
  margin-top: 0.5rem;
  width: 100%; /* Make sure the content takes the full width of the container */
  box-sizing: border-box; /* Ensure padding and border don't affect the width */
  background-color: #ffffff
}

.carousel-body {
  background-color: white;
}

#carousel-text{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.carousel-title {
  margin-bottom: 0.5 rem;
  text-align: left;
  background-color: #ffffff;
}

.carousel-title:hover {
  text-decoration: underline #0e67ed;
}

.carousel-skills, strong {
  background-color: #ffffff;
}

.carousel-skills ul {
  list-style-image: url('../components/images/seedlings/seedling16x16.png');
  width: auto;
  height: auto;
  padding-left: 20px;
  background-color: #ffffff;
}

.carousel-skills li {
  background-color: #ffffff;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #6f8c70;
}

.indicator-symbol-active {
  color: #ffc800;
}
